# SPDX-FileCopyrightText: 2020 Bayerische Motoren Werke Aktiengesellschaft (BMW AG)
#
# SPDX-License-Identifier: 	Apache-2.0


asciitree
clang
colorama
colorlog
pandas
pyro4
pyyaml
wget
# TODO: to requirements-dev.txt:
pycodestyle
pytest
pytest-cov
reuse
IPython
