# SPDX-FileCopyrightText: 2020 callgraph-tool authors. All rights reserved
#
# SPDX-License-Identifier: Apache-2.0

colorlog
graphviz
networkx
pandas
wget
wllvm

# dev requirements:
pycodestyle
pytest
pytest-cov
reuse
